extends layout

block content
  h1= title
  if category_list.length
    .categories
      each category in category_list
        .category
          a(href=category.url)
            div
              h2= category.name
              p= category.description

  else
    p There are no categories.
